nav ul{
    
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
}
nav ul a{
margin: 10px;
}
.footer{
    display: flex;
   
}
.footer-col-3 ul{ 
    list-style-type: none;
    
}
.content h1{
    text-align: center;
}
.content{
    display: flex
}
.content form{
    
   align-self: flex-end;
}